.container {
  max-width: 1000px !important;
  padding: 0 1rem 2rem 1rem;
  flex-direction: column;
}

.container span {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.container p {
  margin: 0px !important;
}

.container ul {
  padding: 0;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.tech-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-auto-rows: 40px;
  gap: 0.5rem;
  width: 100%;
}

.tech-lists li {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.tech-lists li p,
.container span p {
  font-weight: 600;
  color: #353233;
}

.tech-lists li i,
.container span i {
  display: inline-block;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.tech-lists li i,
.tech-lists li img {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.project {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "t t t t t"
    "i i i i d"
    "b b b b b";
}

.project .project-thumbnail {
  grid-area: i;
  width: 100%;
  aspect-ratio: 4 / 2;
  height: auto;
  object-fit: cover;
}

.project .project-title {
  grid-area: t;
  text-align: center;
}

.project .project-details {
  grid-area: d;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}

.project .project-description {
  grid-area: b;
  align-self: flex-start;
  word-wrap: break-word;
  width: 100%;
}

.project .project-details section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media only screen and (min-width: 576px) {
  .project .project-thumbnail {
    aspect-ratio: auto;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    grid-template-areas:
      "t t t"
      "i i d"
      "b b b";
  }
}

@media only screen and (max-width: 576px) {
  .project {
    grid-template-areas:
      "t"
      "i"
      "d"
      "b";
  }
}
