@import url("./reset.css");

nav {
  margin-bottom: 1rem;
}

#search-form {
  max-width: 576px;
  height: fit-content;
}

main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  place-content: start center;
  place-items: stretch center;
  gap: 1rem;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  main ul {
    grid-template-columns: 100%;
  }
}
