<header id="navbar-container">
  <nav class="navbar sticky-top navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
      <img
        src="/img/du.png"
        width="50px"
        alt="Dumbways icon"
        class="navbar-brand"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{>navLists}}
        {{#if user.isLoggedIn}}
        <form action="/auth/logout?_method=DELETE" method="post" class="me-2" id="logoutForm">
            <button
            type="submit"
              class="btn btn-secondary"
            >
              Logout
            </button>
        </form>
        <script>
        const logoutForm = document.getElementById("logoutForm")
        logoutForm.addEventListener("submit", async(e) => {
          e.preventDefault()
          const isConfirmed = await bsConfirm({title:"Logout", body:"Logout from this account?", confirmLabel:"Logout", confirmColor:"btn-danger"})
          if(isConfirmed) e.target.submit()
        })
        </script>
         {{else}}
          <div
            class="d-flex flex-column flex-lg-row gap-4 justify-content-start mb-2 mb-lg-0 me-lg-4"
          >
            <a
              class="nav-link"
              href="/auth/register"
            >
              Register
            </a>
            <a
              class="nav-link"
              href="/auth/login"
            >
              Login
            </a>
          </div>
        {{/if}}
        <a
          href="/contact"
          class="btn btn-dark flex-grow-0 w-fit mt-2 mt-lg-0"
        >
          Contact Me
        </a>
      </div>
    </div>
  </nav>
</header>