<header id="navbar-container">
  <nav class="navbar sticky-top navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
      <img
        src="/img/du.png"
        width="50px"
        alt="Dumbways icon"
        class="navbar-brand"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{{navItems}}}
        </ul>
        <a href="/contact" class="btn btn-dark">
          Contact Me
        </a>
      </div>
    </div>
  </nav>
</header>