{{#if messages.success}}
    <div class="alert alert-success" role="success">
      {{messages.success}}
    </div>
{{/if}}
<div class="container-fluid p-2 pt-md-4">
  <div class="container-fluid card mh-auto shadow flex-md-row max-w-lg pt-md-4">
    <div class="card-body container-fluid">
      <h1 class="fs-1 fw-bold">Hi Welcome to my hut</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit excepturi
        fuga repellendus vel, vero voluptatum tempora fugit! Fugiat eos, tempore
        ratione nihil consequatur unde, nostrum, cum nemo beatae expedita
        repellat Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
        cumque hic. Temporibus numquam aperiam dolorem fugiat a, accusantium
        placeat! Ut quam, deleniti iure voluptates sequi mollitia et iste!
        Pariatur, odit.?
      </p>
      <div class="d-flex gap-3 align-items-center flex-wrap">
        <button class="btn btn-dark rounded-pill">Contact</button>
        <a href="" download="#" class="text-dark">Download CV
          <i class="fa-solid fa-download"></i>
          </a>
      </div>
      <ul class="icon-list flex-wrap">
        <li>
          <a href="" class="icon-button"><i
              class="fa-brands fa-linkedin"
            ></i></a>
        </li>
        <li>
          <a href="" class="icon-button"><i
              class="fa-brands fa-instagram"
            ></i></a>
        </li>
        <li>
          <a href="" class="icon-button"><i
              class="fa-brands fa-facebook"
            ></i></a>
        </li>
        <li>
          <a href="" class="icon-button"><i
              class="fa-brands fa-twitter"
            ></i></a>
        </li>
      </ul>
    </div>

    <aside class="card shadow-sm mx-auto user-card">
      <img
        src="./img/myfoto.jpg"
        alt="abdurrahman harits ghiffary"
        width="100%"
        height="290px"
      />
      <div class="text-center mt-3 px-sm-3 fw-bold">
        <h2 class="fs-3">Abdurrahman Harits Ghiffary</h2>
        <p>Fullstack developer</p>
      </div>
    </aside>
  </div>
</div>
<div class="projects">
  <h2 class="fw-bold fs-3">Projects</h2>
    {{>projectCard}}
</div>