<form
  method="post"
  action="/auth/register"
  id="registerForm"
  class="container-fluid pt-4 max-w-sm d-flex flex-column justify-content-center"
  style="position: fixed; inset: 0;"
>
  <h1 class="fs-3 text-center fw-bold pb-4">REGISTER YOUR ACCOUNT</h1>
  <div>
    <label class="form-label fw-bold" for="username">Name</label>
    <input
      class="form-control shadow-sm"
      type="username"
      name="username"
      id="username"
      value="{{username}}"
    />
    <p class="text-danger"></p>
  </div>
  <div>
    <label class="form-label fw-bold" for="email">Email</label>
    <input
      class="form-control shadow-sm"
      type="email"
      name="email"
      id="email"
      value="{{email}}"
    />
    <p class="text-danger"></p>
  </div>
  <div>
    <label class="form-label fw-bold" for="password">Password</label>
    <div class="input-group" id="password-input">
      <input
        class="form-control shadow-sm"
        type="password"
        name="password"
        id="password"
        value="{{password}}"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        data-toggler="password"
      ><i class="fa-regular fa-eye"></i></button>
    </div>
    <p class="text-danger" id="password-error"></p>
  </div>
  {{#if messages.error}}
    <div class="alert alert-danger" role="alert">
      {{messages.error}}
    </div>
  {{/if}}
  <p>Already have an account? <a href="/auth/login">Log in here.</a></p>
  <button
    type="submit"
    class="btn btn-dark rounded-pill w-fit fw-bold ms-auto"
  >Submit</button>
</form>