<span
  src="{{authorPicture}}"
  class="rounded-circle bg-secondary object-fit-cover"
  style="width:30px; height: 30px; background-image: url('/img/user-regular.svg'); background-size: 15px; background-repeat: no-repeat; background-position: center;"
></span>